.navbar {
    overflow: hidden;
    background-color: #666;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    right: 0px;
  }

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #C8F8FB;
    color: black;
  }

#top {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    margin-top: 100px;
}

.emphasis {
    background: #f0f0f0;
    font-style: italic;
    font-size: 37px; 
    font-weight: lighter; 
}

.highlight {
    display: inline-block;
    height: 20px;
    text-align:center;
    background: #C8F8FB;
    padding-right: 20px ;
  }


hr.solid {
    border-top: 3px solid #666;
  }

.first {
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    position: relative;
    bottom: 60px;
   
}

#bottom {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    bottom: 120px;
}

 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    margin-bottom: 12%;
    position: relative;
    bottom: 20px;
}

.middle {
    text-align: center;

}

.flex div {
    border: 10px groove #666;
    height: 385px;
    text-align: center;
    margin: 20px;
    position: relative;
    bottom: 100px;
    left: 70px;
    width: 400px;
}

.flex {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #727272;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .flex {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 70%;
    
    }
}

#texttop {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #727272;
    display:flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

#texttop div {
    border: 10px groove #666;
    text-align: center;
    margin: 10px;
    position: relative;
    bottom: 20px;
    left: 50px
}

#smiley {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
    #texttop {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 70%;
    }
}

.space {
    border-top: solid #666;
    margin-bottom: 10px;
}

.second {
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    position: relative;
    bottom: 60px;
}


#projects {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#727272;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

#work {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    bottom: 120px;
}

.pictures {
    justify-content: center;
    align-items: center;
    width: 80%;
}

.pictures div {
    border: 10px groove #666;
    width: 900px;
    margin: 125px;
    position: relative;
    bottom: 200px;
}

@media screen and (max-width: 1220px) {
    .pictures div {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.blank {
    border-top: solid #666;
}

.third {
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    position: relative;
    bottom: 60px;
}

#contact {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    bottom: 120px;
}

#container {
    text-align: center;
    position: relative;
    bottom: 80px;
    }

.email a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.connect {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border: none;
    margin: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

#circles {
    text-align: center;
    position: relative;
    bottom: 70px;
}

body {
    background-color: #f0f0f0;
}

.port {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    position: relative;
    bottom: 1250px;

}

.portfolio {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#727272;
    font-size: 18px;
    text-align: right;
    position:relative;
    bottom: 1270px;
}

.agile {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    position: relative;
    bottom: 930px;
}

.scrum {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#727272;
    font-size: 18px;
    text-align: right;
    position:relative;
    bottom: 950px;

}

.test {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    position: relative;
    bottom: 610px;
}

.testing {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#727272;
    font-size: 18px;
    text-align: right;
    position:relative;
    bottom: 630px;
}










